.footer {
  background-color: var(--footer-bg-color);
  .logo{
    color: var(--white-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    &:hover {
      color: var(--secondary);
      text-decoration: none;
    }
  }
  .copyright {
    color: var(--white-color);
  }
}
