.header {
  z-index: 5;
  .navbar {
    position:fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    padding: 20px 25px;
    pointer-events: initial;
    background: rgba(0,0,0,0.5);
  }
}

@media (max-width: 575.98px) {
  .header {
    .navbar {
      background: rgba(0,0,0,0.8);
    }
  }
}
